<mat-toolbar class="header" >
    <span class="example-icon" (click)="opensideBar()">
        <i class="material-icons">menu</i>
    </span>
    <span class="keeplogo">
        <img style="height:40px;padding:10px 5px 1px 2px" src="../../../assets/keep.jpg">
        <p style="margin-top: 15px;font-weight: 400;">Keep</p>
    </span>
    <span >
        <span class="searchBar">
            <i class='material-icons'>&#xe8b6;</i>
            <input class="searchinput" placeholder="search" type="text" id="search" onkeyup="onSearch()"/>
        </span>
    </span>
    <span class="icons">
        <span>
            <i class="material-icons">refresh</i>
        </span>
        <span>
            <i class="material-icons">settings</i>
        </span>
    </span>
    <span>
        <i class="material-icons">apps</i>
    </span> 
    <span>
        <img>
    </span>
</mat-toolbar>
